{% extends "::base.html.twig" %}
{% block page_content %}
    <div class="col-lg-12">
        <h2>
            Liste des produits
        </h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Prix</th>
                </tr>
                </thead>
                    <tbody>
                    <tr>
                        <td>Treo</td>
                        <td>sqd</td>
                    </tr>
                    <tr>
                        <td>Treo</td>
                        <td>sqd</td>
                    </tr>
                    <tr>
                        <td>Treo</td>
                        <td>sqd</td>
                    </tr>

                    </tbody>
            </table>
        </div>
    </div>
{% endblock %}
