{% extends "::base.html.twig" %}
{% block page_title %}<h1>Gestion des Reglements</h1>{% endblock %}
{% block page_subtitle %}<small></small>{% endblock %}
{% block page_content %}
    <!--<form method="post">
        <div class="col-lg-8">
            <div class="form-group">
                <label class="control-label col-sm-2" for ="clientFac">Client:</label>
                <div class="col-sm-10">
                    {#<input type="text" class="form-control" id="numFacture" name="numFacture" placeholder="Nom de la pharmacie">#}
                    <select class="form-control" id="clientFac">
                        <option></option>
                        <option>Seb</option>
                        <option>Thomas</option>
                        <option>Farcy</option>
                    </select>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for ="banqueFac">Banque :</label>
                <div class="col-sm-10">
                    {#<input type="text" class="form-control" id="numFacture" name="numFacture" placeholder="Nom de la pharmacie">#}
                    <select class="form-control" id="banqueFac">
                        <option></option>
                        <option>BNP</option>
                        <option>Banque Postale</option>
                        <option>LCL</option>
                    </select>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for ="dateFac">Date Facture:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dateFac" name="dateFac" value="" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for ="typeFac">Type de Facture :</label>
                <div class="col-sm-10">
                    {#<input type="text" class="form-control" id="numFacture" name="numFacture" placeholder="Nom de la pharmacie">#}
                    <select class="form-control" id="typeFac">
                        <option></option>
                        <option>Btp </option>
                        <option>Aeronautique</option>
                    </select>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for ="montantTTCFac">Montant TTC:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="montantTTCFac" name="montantTTCFac" value="" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for ="txRemiseFac">taux de remise :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txRemiseFac" name="txRemiseFac" value="" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for ="commentaireFac">Commentaire:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="commentaireFac" name="commentaireFac" value="" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox" name="client">
                        <label><input type="checkbox" name="client">Client</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste</a>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </div>

        </div>

    </form>-->
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter !</button>
    {{ form_end(form) }}


{% endblock %}