{% extends "::base.html.twig" %}
{% block page_title %}<center> <u>  <h1> Gestion du réglement de la facture n°{{ laFacture.id }} </h1> </u> </center> {% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/toggle.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).on('change', '#IsAssociation', function(){
            debugger;
            if($(this).prop('checked')){
                $('#methode').removeAttr('disabled');
            } else {
                $('#methode').attr('disabled', 'disabled');
            }
        });
    </script>
{% endblock %}

    <div class="col-lg-6">

        <form class="form-inline" method="post">
            <div class="form-group">
                <label>Réglé (o/n):</label>
                <div class="checkbox">
                    <label class="switch"><input type="checkbox" id="IsAssociation" value="regler" name="regler" {% if laFacture.factureRegler == 1 %}checked{% endif %}>A réglé.<div class="slider round"></div></label>
                </div>
                <br>
                <br>
                <label for="sel1">Méthode de Payement:</label>
                <select class="form-control" id="methode" name="methode" selected="selected"{% if laFacture.factureRegler == 0 %}disabled{% endif %}>
                    <option {% if laFacture.modeReglement.libModReglement == 'Paypal' %}selected="selected"{% endif %}>Paypal</option>
                    <option {% if laFacture.modeReglement.libModReglement == 'Cheque' %}selected="selected"{% endif %}>Cheque</option>
                    <option {% if laFacture.modeReglement.libModReglement == 'Espece' %}selected="selected"{% endif %}>Espece</option>
                    <option {% if laFacture.modeReglement.libModReglement == 'Virement Bancaire' %}selected="selected"{% endif %}>Virement Bancaire</option>
                </select>
                <br>

            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-success">Valider</button>
        </form>



    </div>


{% endblock %}