{% extends "::base.html.twig" %}
{% block page_title %}<h1>Suppression</h1>{% endblock %}
{% block page_subtitle %}<small></small>{% endblock %}
{% block page_content %}
    <h2>
        Suppression de la facture numéro {{ laFacture.id }}
    </h2>
    <p>
        Etes vous certain de vouloir supprimer la facture : {{ laFacture.libFacture }} ?
    </p>

    <form action="{{ path('facturation_facture_supprimer',{'id':laFacture.id}) }}" method="post">
        <a href="{{ path('facturation_facture_aff_liste') }}" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste</a>
        <input class="btn btn-danger" type="submit" value="Supprimer" />
    </form>


{% endblock %}